<h2 class="mb-4">📅 Reporte por Fecha</h2>

<!-- 🔹 FORMULARIO -->
<div class="card p-4 mb-4">

    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger text-center">
            @ViewBag.Error
        </div>
    }

    <form method="post"
          class="row g-2 align-items-end">

        <div class="col-md-8">

            <label class="form-label">
                Seleccione fecha
            </label>

            <input class="form-control"
                   type="date"
                   name="fecha" />

        </div>

        <div class="col-md-4">

            <button class="btn btn-primary w-100"
                    type="submit">
                📊 Generar
            </button>

        </div>

    </form>

</div>

<!-- 🔹 RESULTADO -->
@if (ViewBag.Fecha != null)
{
    <div class="card p-4 text-center">

        <h4 class="mb-3">
            📅 Reporte del día @ViewBag.Fecha
        </h4>

        <hr />

        <h5>
            📌 Cantidad de citas:
        </h5>

        <h3>
            @ViewBag.Citas
        </h3>

        <br />

        <h5>
            💰 Total generado:
        </h5>

        <h2 style="color:#facc15;">
            ₡@ViewBag.Total
        </h2>

    </div>
}