<h2 class="mb-4">📅 Consulta de Ingresos</h2>

<div class="card p-4 mb-4">

    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger text-center">
            @ViewBag.Error
        </div>
    }

    <form method="post" class="row g-2 align-items-end">

        <div class="col-md-8">

            <label class="form-label">
                Seleccione una fecha
            </label>

            <input class="form-control"
                   type="date"
                   name="fecha" />

        </div>

        <div class="col-md-4">

            <button class="btn btn-primary w-100"
                    type="submit">

                🔍 Consultar

            </button>

        </div>

    </form>

</div>

@if (ViewBag.Fecha != null)
{

    <div class="card p-4 mb-4">

        <h3 class="text-center">
            📅 Consulta de ingresos del @ViewBag.Fecha
        </h3>

        <hr />

        <div class="row text-center">

            <div class="col-md-4">

                <h5>Citas registradas</h5>

                <h2>@ViewBag.Citas</h2>

            </div>

            <div class="col-md-4">

                <h5>Ingresos del día</h5>

                <h2 style="color:#198754;">
                    ₡@ViewBag.Total
                </h2>

            </div>

            <div class="col-md-4">

                <h5>Estado</h5>

                @if ((decimal)ViewBag.Total > 0)
                {
                    <span class="badge bg-success fs-6">
                        Con ingresos
                    </span>
                }
                else
                {
                    <span class="badge bg-danger fs-6">
                        Sin ingresos
                    </span>
                }

            </div>

        </div>

    </div>

}