<h2 class="mb-4">💰 Cierre de Caja</h2>

<div class="card p-4 text-center">

    <h5>Total generado hoy</h5>

    <h1 style="font-size: 40px; color:#facc15;">
        ₡@ViewBag.Total
    </h1>

    <hr />

    <p style="color:#94a3b8;">
        Este monto representa el total de ingresos registrados en el día.
    </p>

</div>