<h2 class="mb-4">👤 Registrar Usuario</h2>

<div class="card p-4">

    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger text-center">
            @ViewBag.Error
        </div>
    }

    <form method="post">

        <div class="mb-3">
            <label class="form-label">Nombre</label>

            <input class="form-control"
                   type="text"
                   name="nombre"
                   placeholder="Ingrese el nombre" />
        </div>

        <div class="mb-3">
            <label class="form-label">Usuario</label>

            <input class="form-control"
                   type="text"
                   name="username"
                   placeholder="Ingrese el usuario" />
        </div>

        <div class="mb-3">
            <label class="form-label">Correo</label>

            <input class="form-control"
                   type="email"
                   name="correoElectronico"
                   placeholder="Ingrese el correo" />
        </div>

        <div class="mb-3">
            <label class="form-label">Contraseña</label>

            <input class="form-control"
                   type="password"
                   name="password"
                   placeholder="Ingrese la contraseña" />
        </div>

        <div class="mb-3">
            <label class="form-label">
                Confirmar Contraseña
            </label>

            <input class="form-control"
                   type="password"
                   name="confirmarContraseña"
                   placeholder="Confirme la contraseña" />
        </div>

        <div class="mb-3">

            <label class="form-label">Rol</label>

            <select class="form-select"
                    name="idRol">

                <option value="">
                    Seleccione un rol
                </option>

                @foreach (var rol in ViewBag.Roles)
                {
                    <option value="@rol.IdRol">
                        @rol.Nombre
                    </option>
                }

            </select>

        </div>

        <div class="d-flex justify-content-between mt-4">

            <button class="btn btn-primary"
                    type="submit">

                💾 Guardar Usuario

            </button>

            <a class="btn btn-secondary"
                   href="/Usuarios">

                Cancelar

            </a>

        </div>

    </form>

</div>