@model List<dynamic>
 
<h2>Usuarios</h2>
 
<a href="/Usuarios/Crear">Nuevo Usuario</a>
 
<table border="1">
    <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Acciones</th>
    </tr>
 
    @foreach (var u in Model)
    {
        <tr>
            <td>@u.nombre</td>
            <td>@u.email</td>
            <td>
                <a href="/Usuarios/Eliminar/@u.id">Eliminar</a>
            </td>
        </tr>
    }
</table>
 