@model dynamic

<h2>Editar Cliente</h2>

<form method="post">
    <!-- ID oculto -->
    <input type="hidden" name="id" value="@Model.id" />

    <label>Nombre</label>
    <input type="text" name="nombre" value="@Model.nombre" />

    <br />

    <label>Teléfono</label>
    <input type="text" name="telefono" value="@Model.telefono" />

    <br /><br />

    <button type="submit">Guardar Cambios</button>
    <a href="/Clientes">Cancelar</a>
</form>

<p style="color:red">@ViewBag.Error</p>