<h2 class="mb-4">📅 Crear Cita</h2>

<div class="card p-4">

    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger text-center">
            @ViewBag.Error
        </div>
    }

    <form method="post">

        <div class="mb-3">
            <label class="form-label">Cliente</label>
            <input class="form-control" type="text" name="cliente" placeholder="Nombre del cliente" />
        </div>

        <div class="mb-3">
            <label class="form-label">Fecha</label>
            <input class="form-control" type="date" name="fecha" />
        </div>

        <div class="mb-3">
            <label class="form-label">Hora</label>
            <input class="form-control" type="time" name="hora" />
        </div>

        <div class="mb-3">
            <label class="form-label">Barbero</label>
            <select class="form-select" name="barbero">
                <option>Juan</option>
                <option>Pedro</option>
                <option>Carlos</option>
            </select>
        </div>

        <button class="btn btn-primary w-100 mt-2" type="submit">
            💾 Guardar Cita
        </button>

    </form>

</div>