<h2>Crear Rol</h2>

<form method="post">
    <label>Nombre del rol</label>
    <input type="text" name="nombre" />

    <button type="submit">Guardar</button>
</form>

<p style="color:red">@ViewBag.Error</p>